<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowego klienta</title>
<!--    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />-->
<!--    <script type="text/javascript" src="css/jquery-3.5.1.min.js"></script>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div class="container" >

<h1>
    Wprowadź dane klienta:
</h1>
        <table class="table table-bordered">
<form method="post" th:action="@{/form}" th:object="${clientForm}">
    <label>
        Imię:
        <input type="text" th:field="*{firstName}">
    </label></br>
    <label>
        Nazwisko:
        <input type="text" th:field="*{lastName}">
    </label></br>
    <label>
        Wiek:
        <input type="number" th:field="*{age}">
    </label></br>
    <label>
        Numer telefonu:
        <input type="tel" th:field="*{phoneNumber}">
    </label></br>
    <label>
       Adres E-mail:
        <input type="email" class="form-control" id="email" placeholder="nazwa@przykład.pl">
    </label></br>
    <label>
        Dzieci:
        <input type="number" th:field="*{children}">
    </label></br>
    <div class="form-group">
        <label> Karty kredytowe:
        <select class="clientForm" id="hasCreditCard">
            <option>Tak</option>
            <option>Nie</option>

        </select>
        </label></br>
    </div>
    <div class="form-group">
        <label> Karty debetowe:
            <select class="clientForm" id="hasDebitCard">
                <option>Tak</option>
                <option>Nie</option>

            </select>
        </label></br>
    </div>



    <label>
        Przychód netto:
        <input type="number" th:field="*{incomeNetto}">
        PLN
    </label></br>
    <div class="form-group">
        <label> Umowa na czas nieokreślony:
            <select class="clientForm" id="haLongTermJob">
                <option>Tak</option>
                <option>Nie</option>

            </select>
        </label></br>
    </div>
    <div class="form-group">
        <label> Własne przedsiębiorstwo:
            <select class="clientForm" id="hasOwnBusiness">
                <option>Tak</option>
                <option>Nie</option>

            </select>
        </label></br>
    </div>
    <div class="form-group">
        <label> Ryczałt:
            <select class="clientForm" id="isLumpSum">
                <option>Tak</option>
                <option>Nie</option>

            </select>
        </label></br>
    </div>
    <div class="form-group">
        <label> Umowa cywilno-prawna:
            <select class="clientForm" id="hasCLContract">
                <option>Tak</option>
                <option>Nie</option>

            </select>
        </label></br>
    </div>
    <div class="form-group">
        <label> Karta:
            <select class="clientForm" id="hasCard">
                <option>Tak</option>
                <option>Nie</option>

            </select>
        </label></br>
    </div>


    <input type="button" value="Zatwierdź" onclick="$('#addUserDiv').toggle()" class="btn btn-success"/>


</form>
    </table>
</div>




</body>
</html>