<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration-form.css}" href="/css/registration-form.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <br/>
    <div id="addPersonDiv">
        <form class="form-horizontal" method="post" th:action="@{/registration}" th:object="${user}">
            <fieldset>
                <div id="legend">
                    <legend class="">Add new user</legend>
                </div>
                <div class="control-group">
                    <!-- First name -->
                    <label class="control-label" for="firstName">First name</label>
                    <div class="controls">
                        <input type="text" id="firstName" name="firstName" placeholder="" class="input-xlarge"
                               th:field="*{first_name}">
                        <p class="help-block">First name can contain any letters without spaces</p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Last name -->
                    <label class="control-label" for="lastName">Last name</label>
                    <div class="controls">
                        <input type="text" id="lastName" name="lastName" placeholder="" class="input-xlarge"
                               th:field="*{last_name}">
                        <p class="help-block">Please provide your last name</p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- login-->
                    <label class="control-label" for="login">login</label>
                    <div class="controls">
                        <input type="text" id="login" name="login" placeholder="" class="input-xlarge"
                               th:field="*{login}">
                        <p class="help-block">Login should be at least 4 characters</p>
                    </div>
                </div>

                <div class="control-group">
                    <!-- password-->
                    <label class="control-label" for="password">password</label>
                    <div class="controls">
                        <input type="text" id="password" name="password" placeholder="" class="input-xlarge"
                               th:field="*{password}">
                        <p class="help-block">password should be at least 6 characters</p>
                    </div>
                </div>

                <div class="control-group">
                    <!-- Button -->
                    <div class="controls">
                        <button type="button" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>
