<!DOCTYPE html>
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>Panel doradcy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div>
    <!--tu wkleic tabelke customers jak bedzie juz dzialala-->
    <div class="container">
        <h1>
            Co chcesz teraz zrobić?
        </h1>
        <form method="get" action="/customers">
            <input id="myButton4" name="myButton4" type="submit" value="Dodaj klienta" class="btn btn-primary"/>
        </form>
        <form method="get" action="/brokers">
            <input id="myButton5" name="myButton5" type="submit" value="Przejdź do bazy brokerów"
                   class="btn btn-primary"/>
        </form>
    </div>
</div>
</body>
