<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--    xmlns:th="http://www.thymeleaf.org"-->
    <meta charset="UTF-8">
    <title>Panel doradcy</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>


<div class="container">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/advisor-panel">Panel doradcy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/customers">Dodaj klienta <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/brokers">Przejdź do bazy brokerów</a>
                </li>
                <!--            <li class="nav-item dropdown">-->
                <!--                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"-->
                <!--                   aria-haspopup="true" aria-expanded="false">-->
                <!--                    Dropdown-->
                <!--                </a>-->
                <!--                <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                <!--                    <a class="dropdown-item" href="#">Action</a>-->
                <!--                    <a class="dropdown-item" href="#">Another action</a>-->
                <!--                    <div class="dropdown-divider"></div>-->
                <!--                    <a class="dropdown-item" href="#">Something else here</a>-->
                <!--                </div>-->
                <!--            </li>-->
                <!--            <li class="nav-item">-->
                <!--                <a class="nav-link disabled" href="#">Disabled</a>-->
                <!--            </li>-->
            </ul>
        </div>
    </nav>

</div>
<div></div>

<div>
    <!--tu wkleic tabelke customers jak bedzie juz dzialala-->
    <div class="container">


        <br/>
        <h3 class="h3">Klienci:</h3>
        <table class="table table-striped">
            <tr class="table-striped">
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Numer telefonu</th>
                <th>Email</th>
<!--                <th>Wiek</th>-->
<!--                <th>Dzieci</th>-->
                <th>Status klienta</th>
<!--                <th>Wysokość kredytu</th>-->
                <th>Dochód netto</th>
            </tr>

            <div class="list-group">
                <th:block th:each="customer : ${customers}">
                    <tr>
                        <td th:text="${customer.firstName}" ></td>
                        <td th:text="${customer.lastName}"></td>
                        <td th:text="${customer.phone}"></td>
                        <td th:text="${customer.email}"></td>
<!--                        <td th:text="${customer.age}"></td>-->
<!--                        <td th:text="${customer.kids}"></td>-->
                        <td th:text="${customer.customerStatus}"></td>
<!--                        <td th:text="${customer.customerIncome.netIncome}"></td>-->
                    </tr>
                </th:block>
            </div>
        </table>
    </div>
</div>
</body>
</html>
